################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/GerenciadorTarefas/.vs/GerenciadorTarefas/FileContentIndex/06086dbd-ef76-4b0a-b8cb-967949df765b.vsidx
/GerenciadorTarefas/.vs/GerenciadorTarefas/FileContentIndex/22697f4a-8f1c-4ccb-afae-d3260a5dbcd0.vsidx
/GerenciadorTarefas/.vs/GerenciadorTarefas/FileContentIndex/3d71c2d4-a6dd-4589-a25d-ed83c50b01f0.vsidx
/GerenciadorTarefas/.vs/GerenciadorTarefas/FileContentIndex/83d6c58a-5eda-4e52-8432-bfb3b9d3e4ad.vsidx
/GerenciadorTarefas/.vs/GerenciadorTarefas/FileContentIndex/aa2c8076-8acb-4b3d-9f9e-763eafb8335f.vsidx
/GerenciadorTarefas/.vs/GerenciadorTarefas/FileContentIndex/04158417-7eff-4a67-9d12-e35056bda804.vsidx
/GerenciadorTarefas/.vs/GerenciadorTarefas/FileContentIndex/0a0e636e-7703-41a1-ad5d-33831c824353.vsidx
/GerenciadorTarefas/.vs/GerenciadorTarefas/FileContentIndex/41775f0e-a8d6-4f06-996b-ee785cb9852f.vsidx
/GerenciadorTarefas/.vs/GerenciadorTarefas/FileContentIndex/5501d3f7-7787-4f0b-a21f-25abd649d926.vsidx
/GerenciadorTarefas/.vs/GerenciadorTarefas/FileContentIndex/6590e135-2586-4ca9-bb99-67726f60c79b.vsidx
/GerenciadorTarefas/.vs/GerenciadorTarefas/FileContentIndex/3a2bad6a-4156-42fa-b200-b48fc010b157.vsidx
/GerenciadorTarefas/.vs/GerenciadorTarefas/FileContentIndex/3f5bd59a-dbfb-4dcd-b54f-a7af1f7846a4.vsidx
/GerenciadorTarefas/.vs/GerenciadorTarefas/FileContentIndex/aa717346-389a-4db0-9832-da56a5966ef8.vsidx
/GerenciadorTarefas/.vs/GerenciadorTarefas/FileContentIndex/b119723e-1185-4e16-bdfe-95c93e52f8e1.vsidx
/GerenciadorTarefas/.vs/GerenciadorTarefas/FileContentIndex/c816feb4-aa98-49e9-b9c8-179c2d040a98.vsidx
