################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/GerenciadorTarefas/.vs/GerenciadorTarefas/FileContentIndex/06086dbd-ef76-4b0a-b8cb-967949df765b.vsidx
/GerenciadorTarefas/.vs/GerenciadorTarefas/FileContentIndex/22697f4a-8f1c-4ccb-afae-d3260a5dbcd0.vsidx
/GerenciadorTarefas/.vs/GerenciadorTarefas/FileContentIndex/3d71c2d4-a6dd-4589-a25d-ed83c50b01f0.vsidx
/GerenciadorTarefas/.vs/GerenciadorTarefas/FileContentIndex/83d6c58a-5eda-4e52-8432-bfb3b9d3e4ad.vsidx
/GerenciadorTarefas/.vs/GerenciadorTarefas/FileContentIndex/aa2c8076-8acb-4b3d-9f9e-763eafb8335f.vsidx
